In [1]:
import pandas as pd

In [2]:
obesity_df = pd.read_csv('obesity data raw.csv')

In [3]:
obesity_df

       Unnamed: 0      Country  Year       Obesity (%)         Sex
0               0  Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1               1  Afghanistan  1975     0.2 [0.0-0.6]        Male
2               2  Afghanistan  1975     0.8 [0.2-2.0]      Female
3               3  Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4               4  Afghanistan  1976     0.2 [0.0-0.7]        Male
...           ...          ...   ...               ...         ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 5 columns]

In [5]:
filtered_obesity_df = obesity_df.loc[(obesity_df['Year'] == 2016) & (obesity_df['Sex'] == 'Both sexes'),['Country','Obesity (%)']]

In [18]:
filtered_obesity_df = filtered_obesity_df.dropna()

In [19]:
filtered_obesity_df.columns

Index(['Country', 'Obesity (%)'], dtype='object')

In [24]:
def retrieve_val(x):
    val_lst = x.split('[')
    return val_lst[0]

In [25]:
filtered_obesity_df['Obesity (%)'] = filtered_obesity_df['Obesity (%)'].apply(retrieve_val)

In [28]:
filtered_obesity_df.to_csv('Obesity_data.csv')